<div class="flex flex-col flex-auto min-w-0">
    <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" (ngSubmit)="onSubmit()" [formGroup]="salesForm">
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Nom commerce</mat-label>
                <input
                    id="name"
                    formControlName="name"
                    matInput
                    [placeholder]="'This is a placeholder'">
                <mat-hint>TODO: Edit for error</mat-hint>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Adresse</mat-label>
                <input
                    id="address"
                    formControlName="address"
                    matInput
                    [placeholder]="'This is a placeholder'">
                <mat-hint>TODO: Edit for error</mat-hint>
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto gt-xs:pr-3">
                <mat-label>Type de commerce</mat-label>
                <mat-select
                formControlName="type"
                id="type">
                    <mat-option [value]="modules.RESTAURATION">{{modules.RESTAURATION}}</mat-option>
                    <mat-option [value]="modules.MARKET">{{modules.MARKET}}</mat-option>
                    <mat-option [value]="modules.GAS_STATION">{{modules.GAS_STATION}}</mat-option>
                    <mat-option [value]="modules.TELEPHONY">{{modules.TELEPHONY}}</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
        </div>
        <button mat-flat-button type="submit">Enregistrer</button>
    </form>
</div>