<div class="flex flex-col flex-auto min-w-0">
    <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" (ngSubmit)="onSubmit()" [formGroup]="adminForm">
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Nom</mat-label>
                <input
                    id="lastname"
                    formControlName="lastname"
                    matInput
                    [placeholder]="'This is a placeholder'">
                <mat-hint>TODO: Edit for error</mat-hint>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Prenom</mat-label>
                <input 
                formControlName="firstname"
                id="firstname"
                [placeholder]="'This is a placeholder'"
                matInput>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Username</mat-label>
                <input 
                formControlName="username"
                id="username"
                [placeholder]="'This is a placeholder'"
                matInput>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Email</mat-label>
                <input 
                formControlName="email"
                id="email"
                [placeholder]="'This is a placeholder'"
                matInput>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Numéro téléphone</mat-label>
                <input 
                formControlName="phoneNumber"
                id="phoneNumber"
                [placeholder]="'This is a placeholder'"
                matInput>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:phone'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto gt-xs:pr-3">
                <mat-label>Rôle</mat-label>
                <mat-select
                formControlName="role"
                id="role">
                    <mat-option value="ENTERPRISE_FINANCE">Sales finance</mat-option>
                    <mat-option value="CLIENT">Client</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
        </div>
        <!-- TODO SEPARATE FORMS SWITCH TYPE OF BUTTON CLICKED -->
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto gt-xs:pr-3">
                <mat-label>Entreprise</mat-label>
                <mat-select
                formControlName="enterprise"
                id="enterprise">
                    <mat-option *ngFor="let enterprise of enterprises" [value]="enterprise.id">
                        {{ enterprise.name }}
                    </mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
        </div>
        <button mat-flat-button type="submit">Enregistrer</button>
    </form>
</div>