<div class="flex flex-col flex-auto min-w-0">
    <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" (ngSubmit)="onSubmit()" [formGroup]="salesConfigurationForm">
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Sales</mat-label>
                <input
                    id="sales"
                    formControlName="sales"
                    matInput
                    value="À récuperer et définir"
                    [placeholder]="'This is a placeholder'">
                <mat-hint>TODO: Edit for error</mat-hint>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Montant maximal d'un paiemant</mat-label>
                <input 
                formControlName="maxAmount"
                id="maxAmount"
                [placeholder]="'This is a placeholder'"
                matInput
                type="number">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto">
                <mat-label>Montant minimal d'un paiemant</mat-label>
                <input 
                formControlName="minAmount"
                id="minAmount"
                [placeholder]="'This is a placeholder'"
                matInput
                type="number">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
        </div>
        <button mat-flat-button type="submit">Enregistrer</button>
    </form>
</div>